{
  "presets": ["react", ["latest", { "modules": false }], "stage-0"],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-webpack",
    "syntax-dynamic-import",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
