.switch-container {
  .switch-button {
    border-radius: 15px;
    border: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #898989;
    background-color: transparent;
    padding: 0 10px;

    &.active {
      background-color: #f58220;
      color: #fff;
    }
  }
}
